.contact-section {
    background-color: #f3f4f6; 
  }
  
  .contact-section h2 {
    color: #0b39e0; 
  }
  
  .form-container {
    @apply p-12 shadow-lg rounded-lg max-w-5xl mx-auto space-y-8 bg-white; 
  
    input,
    textarea {
      @apply w-full px-6 py-4 border border-gray-300 rounded-lg text-xl;
    }
  
    button {
      @apply w-full py-3 bg-blue-700 text-white font-medium rounded-lg hover:bg-blue-600;
    }
  }
  
  .social-media-section {
    background-color: #cccdcf; 
  }
  
  
  .social-media-section h3 {
    color: #0b0bf5; 
    transition: color 0.3s ease;
  }
  
  
  .social-media-section a {
    transition: color 0.3s ease; 
  }
  
  .social-media-section a:hover {
    color: #0b0bf5; 
  }
  
  .social-media-section a svg { 
    fill: #0b0bf5; 
    transition: fill 0.3s ease; 
  }
  
  .social-media-section a:hover svg {
    fill: #7d7dfa; 
  }
  